<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>en esta aplicacion solo deben acceder <u>administradores</u>.</p>

        <p>Para el mantenimiento de información (altas, bajas y actualizaciones del modelo de datos implementado) presione el boton </p>
        <!-- Botón para Swagger UI -->
        <a href="http://www.desarrolloweb2parcial.somee.com/swagger/index.html" target="_blank" class="btn btn-primary mt-3">
            Mantenimiento de la aplicacion
        </a>
    </div>
</div>
