<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header">Registrar Usuario</h5>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="firstName" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Ingresa tu nombre"
                     [class.is-invalid]="userForm.controls.firstName.invalid && (userForm.controls.firstName.dirty || userForm.controls.firstName.touched)">
              <div *ngIf="userForm.controls.firstName.errors?.['maxlength']" class="invalid-feedback">
                Máximo 20 caracteres permitidos.
              </div>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Ingresa tu apellido"
                     [class.is-invalid]="userForm.controls.lastName.invalid && (userForm.controls.lastName.dirty || userForm.controls.lastName.touched)">
              <div *ngIf="userForm.controls.lastName.errors?.['maxlength']" class="invalid-feedback">
                Máximo 20 caracteres permitidos.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresa tu correo"
                     [class.is-invalid]="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)">
              <div *ngIf="userForm.controls.email.errors?.['email']" class="invalid-feedback">
                Debe ser un correo válido.
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>